{% extends 'base.html.twig' %}

{% block body %}
<html>
    <head>
        <meta charset="UTF-8">

        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset('css/login.css') }}" rel="stylesheet" />
        {% endblock %}
        <title>{% block title %}Login{% endblock %}</title>
    </head>
    <body>
        <div class="wrapper">
            <form class="form-signin" action="{{ path('login') }}" method="post">
                <h2 class="form-signin-heading">Please login</h2>
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <input type="text" class="form-control" name="_username" id="username" placeholder="Username" value="{{ last_username }}" required="" autofocus="" />
                <input type="password" class="form-control" name="_password" id="password" placeholder="Password" required=""/>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                <br>
                <a href="{{ toRegistrationLink }}" class="btn btn-info btn-block btn-sm" >Go to registration</a>
            </form>
        </div>
    </body>
</html>
{% endblock %}