{% extends 'base.html.twig' %}

{% block body %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    {% endblock %}
    <title>{% block title %}List of quizzes!{% endblock %}</title>
</head>
<body>
    <a href="logout" class="btn btn-dark btn-sm" id="logout">logout</a>
    <h1 align="center" id="mainHeader">List of quizzes</h1>
    <table class='table table-hover' width="300px">
    <tr class="thead-dark">
        <th>#</th>
        <th>name</th>
        <th>members count</th>
        <th>status</th>
        <th colspan="5">leader name</th>
    </tr>
    {% for key, quiz in quizList %}
        <tr>
            <td>{{ quiz.id }}</td>
            <td>{{ quiz.quizname }}</td>
            <td> {{ quiz.playersAmount }} </td>
            <td>{{ quiz.status ? 'Enabled' : 'Disabled' }}</td>
            <td> {{ quiz.firstNameLider }} </td>
            <td> {{ quiz.secondNameLider }} </td>
            <td> {{ quiz.thirdNameLider }} </td>
            {% if quiz.status %}
                <td> <a class="btn btn-primary btn-block btn-primary" href="{{ toQuizLink }}{{ quiz.quizname }}">Start</a> </td>
                {% for key2, enabled in enabledArray %}
                    {% if key2 == key %}
                        {% if enabled %}
                            <td> <a href="{{ toQuizResultLink }}{{ quiz.quizname }}" class="btn btn-primary btn-block btn-info btn-sm" >Watch results</a> </td>
                        {% else %}
                            <td> <a href="{{ toQuizResultLink }}{{ quiz.quizname }}" class="btn btn-primary btn-block btn-info btn-sm disabled" >Watch results</a> </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <!--td> <a class="btn btn-primary btn-block btn-primary disabled" href="">Start</a> </td>
                <td> <a href="" class="btn btn-primary btn-block btn-info btn-sm disabled" >Watch results</a> </td-->
            {% endif %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>
{% endblock %}