{% extends 'base.html.twig' %}

{% block body %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    {% endblock %}

    <title>{% block title %}List of quizzes!{% endblock %}</title>
</head>
<body>

    <h1 align="center" id="mainHeader">List of quizzes</h1>
    <table class='table table-hover' width="300px">
    {% if quizList is defined %}
        <tr class="thead-dark">
            <th>#</th>
            <th>name</th>
            <th>members count</th>
            <th>status</th>
            <th colspan="5">leader name</th>
        </tr>
        {% for quiz in quizList %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.quizname }}</td>
                <td> {{ quiz.playersAmount }} </td>
                {% if quiz.status == 0 %}
                    <td> {{ 'Enabled' }} </td>
                {% else %}
                    <td> {{ 'Disabled' }} </td>
                {% endif %}
                <td> {{ quiz.firstNameLider }} </td>
                <td> {{ quiz.secondNameLider }} </td>
                <td> {{ quiz.thirdNameLider }} </td>
                <td> <a href="">play</a> </td>
                <td> <a href="">watch results</a> </td>
            </tr>
            {{ quiz.questionList.0 }}
        {% endfor %}
    {% endif %}
    {% if quizList is not defined %}
        {{ "Not defined" }}
    {% endif %}
    </table>
</body>
</html>
{% endblock %}