{% extends 'base.html.twig' %}

{% block body %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/question.css') }}" rel="stylesheet" />
    {% endblock %}
    <title>{% block title %}Question {{ currentQuestionNumber }}{% endblock %}</title>
</head>
<body>
    <h2 class="quizName">Quiz '{{ quiz.quizname }}'</h2>

    <form id='questionList' action="{{ nextQuestionLink }}">
        <div class="wrapper container">
            <div class="form-signin">
                <h2 class="form-signin-heading" id="questiontext">{{ currentQuestionNumber }}{{ ")" }}{{ questionText }}</h2>
                <ul>
                    {% for answer in answers %}
                    <li>
                        <input id="{{ loop.index }}" type="radio" name="select" class="radioButtons" value="{{ loop.index }}">
                        <label for="{{ loop.index }}" id="label{{ loop.index }}">{{ answer }}</label>
                        <div class="check"></div>
                    </li>
                    {% endfor %}
                </ul>
                <br>
                <input type='submit' form='questionList' value="button next" class="btn btn-lg btn-primary btn-block" disabled="not">
            </div>
        </div>
    </form>
</body>
</html>
{% endblock %}

{% block javascripts %}
   {# <script src="{{ asset('js/question.js') }}"></script> #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{{ asset('js/ajax.js') }}"></script>
{% endblock %}