{% extends 'base.html.twig' %}

{% block body %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    {% endblock %}
    <title>{% block title %}Results{% endblock %}</title>
</head>
<body>
    <h2 align="center">You have completed quiz {{ quizName }}</h2>
    <h4>{{ questionsAmount }} questions</h4>
    {% for name, amount in array %}
        {% if loop.index < 4 %}
            {{ name }} :
            {{ amount }}
            <br>
        {% endif %}
    {% endfor %}

    {{ dump(array) }}
    Your place is {{ userPlace }}
    <a href="http://symfony4.loc/main" class="btn btn-primary btn-block btn-success btn-lg">Go back to quizzes list</a>
</body>
</html>
{% endblock %}