{% extends 'base.html.twig' %}

{% block body %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/admin.css') }}" rel="stylesheet" />
        {% endblock %}
    <title>{% block title %}Admin page{% endblock %}</title>
</head>
<body>
    <div id="entityOptions">
        <a class="btn btn-lg btn-default" id="quizButton" href="{{ toQuizzesTableLink }}">Quiz</a>
        <a class="btn btn-lg btn-default" id="questionButton" href="{{ toQuestionTableLink }}">Question</a>
        <a class="btn btn-lg btn-default" id="answerButton" href="{{ toAnswerTableLink }}">Answer</a>
        <a class="btn btn-lg btn-default" id="resultButton" href="{{ toResultTableLink }}">Result</a>
        <a class="btn btn-lg btn-default" id="userButton" href="{{ toUserTableLink }}">User</a>
    </div>
    <input type="text" id="filter" class="form-control" placeholder="find...">
    <p id="sortOptions"></p>
    <div id=”grid”></div>
</body>
</html>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('js/tableInfo.js') }}"></script>
    <!--script src="{{ asset('js/temp.js') }}"></script-->
{% endblock %}